{% extends "base.html" %}

{% block content %}
<h1 class="title">
	Data Visualization
</h1>
<h2 class="subtitle">
	Data information for Cloud Computing Midterm
	<br/>
	Data hosted & visualized via Metabase Azure webapp
</h2>
<h1 class="title">
	Question 5
</h1>
<h2 class="subtitle">
	Data Pull for Hshd_num 5
</h2>
<iframe
    src="http://midterm-site.azurewebsites.net/public/dashboard/7a2b38d8-562c-44cf-9887-af9a769134b3"
    frameborder="0"
    width="800"
    height="500"
    allowtransparency
></iframe>
<h1 class="title">
	Question 6
</h1>
<h2 class="subtitle">
	Information regarding customer engagement based on metrics we don't have yet
</h2>
<iframe
    src="http://midterm-site.azurewebsites.net/public/dashboard/2e929903-dde2-4091-b289-8905dd8cd06a"
    frameborder="0"
    width="800"
    height="600"
    allowtransparency
></iframe>
<h1 class="title">
	Question 7
</h1>
<h2 class="subtitle">
	Information regarding demographic factors based on metrics we don't have yet
</h2>
<iframe
    src="http://midterm-site.azurewebsites.net/public/dashboard/efa16bd4-4462-4994-9ff0-e382fcabd5ce"
    frameborder="0"
    width="800"
    height="600"
    allowtransparency
></iframe>
{% endblock %}
